<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>채팅 목록</title>
</head>

<body>
<header layout:fragment="header" class="sticky top-0 z-50">

    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <div>
                <a href="#" tabindex="0" class="btn btn-ghost btn-circle" onclick="history.back()">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
            </div>
        </div>
        <div class="navbar-center">
            <a class="font-black">나의 채팅 목록</a>
        </div>
        <div class="navbar-end">
            <button class="btn btn-ghost btn-circle">
            </button>
        </div>
    </div>

</header>

<main layout:fragment="main" class="flex-grow flex flex-col w-full mx-auto max-w-sm p-4">
    <div th:if="${chatRooms.size() == 0}" class="text-lg text-gray-400 pt-12 mx-auto">
        채팅 중인 대화방이 없습니다.<i class="fa-regular fa-face-sad-tear ml-2"></i>
    </div>
    <div th:if="${!#lists.isEmpty(chatRooms)}" class="max-w-xs">
        <a th:each="chatRoom : ${chatRooms}" th:href="@{/chat/room/{id}(id=${chatRoom.getKey().id})}"
           class="hover:bg-gray-50 active:bg-gray-100 border-2 border-solid border-gray-100 w-[350px] rounded-lg px-8 py-6 mb-6 flex justify-between items-center">
            <div>
                <div class="mb-2 text-start">
                    <span style="padding: 0;" th:if="${@rq.getMember().getUsername().equals(chatRoom.getKey().getMembersUsername().get(0))
                    && chatRoom.getKey().getMembersUsername().get(1).length() > 10}"
                          th:text="|${chatRoom.getKey().getMembersUsername().get(1).substring(0, 10)}... 님|"
                          class="font-black text-lg"></span>
                    <span style="padding: 0;" th:if="${@rq.getMember().getUsername().equals(chatRoom.getKey().getMembersUsername().get(0))
                    && chatRoom.getKey().getMembersUsername().get(1).length() <= 10}"
                          th:text="|${chatRoom.getKey().getMembersUsername().get(1)} 님|"
                          class="font-black text-lg"></span>
                    <span style="padding: 0;"
                          th:if="${@rq.getMember().getUsername().equals(chatRoom.getKey().getMembersUsername().get(1))
                    && chatRoom.getKey().getMembersUsername().get(0).length() > 10}"
                          th:text="|${chatRoom.getKey().getMembersUsername().get(0).substring(0, 10)}... 님|"
                          class="font-black text-lg"></span>
                    <span style="padding: 0;"
                          th:if="${@rq.getMember().getUsername().equals(chatRoom.getKey().getMembersUsername().get(1))
                    && chatRoom.getKey().getMembersUsername().get(0).length() <= 10}"
                          th:text="|${chatRoom.getKey().getMembersUsername().get(0)} 님|"
                          class="font-black text-lg"></span>
                    <span th:text="${#temporals.format(chatRoom.getValue().createdAt, 'HH:mm')}"
                          class="ml-2 text-gray-400"></span>
                </div>

                <p th:if="${chatRoom.getValue().message != null}" th:text="${chatRoom.getValue().message.getMessage()}"
                   class="text-lg text-start"></p>
            </div>
            <div th:if="${chatRoom.getValue().message != null && @rq.getMember().getUsername() != chatRoom.getValue().writer
                && chatRoom.getValue().message.isNotRead()}"
                 class="bg-[#ff626f] w-12 text-white text-center font-semibold rounded-xl">new
            </div>
        </a>
    </div>
</main>

</body>

</html>