<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>채팅 목록</title>
</head>

<body>
<header layout:fragment="header" class="sticky top-0 z-50">

    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-64">
                    <li>
                        <a th:href="@{/}">
                            <span>메인</span>
                        </a>
                    </li>
                    <li th:if="${@rq.logout}">
                        <a th:href="@{|/usr/member/login|}">
                            <span>로그인</span>
                        </a>
                    </li>
                    <li th:if="${@rq.login}">
                        <a href="javascript:" onclick="$(this).next().submit();">
                            <span>로그아웃</span>
                        </a>
                        <form class="!hidden" hidden th:action="|/usr/member/logout|" method="POST"></form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-center">
            <a class="font-black">채팅 목록</a>
        </div>
        <div class="navbar-end">
            <button class="btn btn-ghost btn-circle">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
        </div>
    </div>

</header>

<!-- 실제 적용할 내용은 추후에 넣을 예정 -->
<main layout:fragment="main" class="flex-grow flex flex-col items-center justify-center w-screen p-4">
    <button class="hover:bg-gray-50 active:bg-gray-100 border-2 border-solid border-gray-100 rounded-lg w-full px-8 py-6 mb-6 flex justify-between items-center">
        <div><p class="font-black text-lg mb-2 text-start">유리</p>
            <p class="text-lg text-start">안녕하세요</p>
        </div>
        <div class="bg-pink-600 w-16 text-white font-semibold rounded-xl">new</div>
        </div>
    </button>
</main>

</body>

</html>