<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title th:text="|${otherMember.getUsername()} 님과의 채팅|"></title>
</head>

<body>
<header layout:fragment="header" class="sticky top-0 z-50">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <div>
                <a tabindex="0" class="btn btn-ghost btn-circle" onclick="history.back()">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
            </div>
        </div>
        <div class="navbar-center">
            <a class="font-black" th:text="|${otherMember.getUsername()} 님과의 채팅|"></a>
        </div>
        <div class="navbar-end">
            <button class="btn btn-ghost btn-circle">
                <!-- ellipsis 클릭 시 채팅방 나가기, 거래 시작/완료 등 선택할 수 있도록 할 예정 -->
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
        </div>
    </div>
</header>

<main layout:fragment="main" class="flex-grow flex items-center justify-center w-screen">
    <div id="chat-area" class="flex flex-col w-full h-[1000px]">
        <div id="messages" class="flex text-center w-full m-8">
        </div>
        <div id="input-area" class="flex justify-center mt-auto mb-24">
            <input id="send-msg" type="text" class="input input-bordered w-full max-w-sm"/>
            <button id="send-button" class="btn btn-outline"><i class="fa-regular fa-paper-plane"></i></button>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {
            var sockJs = new SockJS("/ws/chat");
            var stomp = Stomp.over(sockJs);

            var roomId = [[${room.id}]];
            var username = [[${@rq.member.nickname}]];

            stomp.connect({}, function () {
                stomp.subscribe("/sub/chat/room/" + roomId, function (message) {
                    var content = JSON.parse(message.body);
                    var writer = content.writer;

                    var msg = document.createElement("div");
                    msg.className = writer === username ? "chat chat-end" : "chat chat-start";
                    msg.innerHTML = "<div class='chat-image avatar'><div class='w-10 rounded-full bg-pink-400'></div></div>" +
                        "<div class='chat-header'>" +
                        "<time class='text-xs opacity-50' th:utext='${#temporals.format(message.getCreatedAt(), 'HH:mm')}'></time>" +
                        "</div>" +
                        "<div class='chat-bubble' th:text='" + content.message + "'></div>";

                    $("#messages").append(msg);
                    $("#messages").scrollTop($("#messages")[0].scrollHeight);
                });

                stomp.send('/pub/chat/message', {}, JSON.stringify({ roomId: roomId, writer: username }));
            });

            $("#send-msg").on("keydown", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById('send-button').click();
                }
            });

            $("#send-button").on("click", function (event) {
                var msg = document.getElementById("send-msg");
                stomp.send('/pub/chat/message', {}, JSON.stringify({ roomId: roomId, message: msg.value, writer: username }));
                msg.value = '';
            });
        });
    </script>
</main>

</body>

</html>
