<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title th:text="|${otherMember.getUsername()} 님과의 채팅|"></title>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
<header layout:fragment="header" class="sticky top-0 z-50">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <div>
                <a tabIndex="0" class="btn btn-ghost btn-circle" onClick="history.back()">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
            </div>
        </div>
        <div class="navbar-center">
            <span th:if="${otherMember.getUsername().length() > 15}"
                  class="font-black" th:text="|${otherMember.getUsername().substring(0, 15)}... 님과의 채팅|"></span>
            <span th:if="${otherMember.getUsername().length() <= 15}"
                  class="font-black" th:text="|${otherMember.getUsername()} 님과의 채팅|"></span>
        </div>
        <div class="navbar-end">
            <label for="my_modal_7" class="btn btn-ghost btn-circle">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </label>
            <input type="checkbox" id="my_modal_7" class="modal-toggle"/>
            <div class="modal">
                <div class="modal-box">
                    <a th:if="${room.tradeStatus.status.msg.equals('거래 전')}" class="btn btn-ghost block pt-4"
                       th:href="@{/trade/start/{id}(id=${room.tradeStatus.id})}">거래 시작</a>
                    <a th:if="${!room.tradeStatus.status.msg.equals('거래 전')}" class="btn btn-ghost block pt-4"
                       th:href="@{/trade/complete/{id}(id=${room.tradeStatus.id})}">거래 완료</a>
                    <hr>
                    <a th:href="@{/chat/exit/{id}(id=${room.id})}" class="btn btn-ghost block pt-4">채팅방 나가기</a>
                </div>
                <label class="modal-backdrop" for="my_modal_7">Close</label>
            </div>
        </div>
    </div>
</header>

<main layout:fragment="main" class="flex-grow flex items-center justify-center w-screen h-[740px] p-8">
    <div id="chat-area" class="flex flex-col w-[650px] h-full">
        <div id="msg-area" class="overflow-y-auto h-fit">
            <div id="messages" th:class="${@rq.getMember().getUsername().equals(message.writer)} ?
                 'flex w-full justify-end' : 'flex w-full justify-start'" th:each="message : ${chatMessages}">
                <div class="chat chat-start flex" th:if="${!@rq.getMember().getUsername().equals(message.writer)}">
                    <div class="chat-image avatar">
                        <div class="w-10 rounded-full bg-pink-400"></div>
                    </div>
                    <div class="chat-bubble" th:text="${message.message}"></div>
                    <div class="chat-header mt-6">
                        <time class="text-xs opacity-50"
                              th:text="${#temporals.format(message.createdAt, 'HH:mm')}"></time>
                    </div>
                    <a th:if="${message.isFileMessage()}" target="_blank" class="btn btn-outline"
                       th:href="@{/chat/download/{messageId}(messageId=${message.getId()})}">
                        <i class='fa-solid fa-download'></i></a>
                </div>
                <div class="chat chat-end flex" th:if="${@rq.getMember().getUsername().equals(message.writer)}">
                    <div class="chat-header">
                        <time class="text-xs opacity-50"
                              th:text="${#temporals.format(message.createdAt, 'HH:mm')}"></time>
                    </div>
                    <div class="chat-bubble" th:text="${message.message}"></div>
                    <div class="chat-image avatar">
                        <div class="w-10 rounded-full bg-pink-400"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="input-area" class="flex order-1 justify-center mt-auto mb-12">
            <input id="send-msg" type="text" class="input input-bordered w-full max-w-sm"/>
            <button id="send-button" class="btn btn-outline"><i class="fa-regular fa-paper-plane"></i></button>
            <button class="btn btn-outline" onclick="my_modal_1.showModal()"><i class="fa-solid fa-paperclip"></i>
            </button>
            <dialog id="my_modal_1" class="modal">
                <form method="dialog" class="modal-box" enctype="multipart/form-data"
                      th:action="@{/chat/file(roomId=${room.id})}">
                    <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                    <input type="file" class="file-input file-input-bordered file-input-sm w-full max-w-sm"
                           name="file"/>
                    <div class="modal-action">
                        <button id="file-send" type="submit" class="btn">보내기</button>
                        <button class="btn">닫기</button>
                    </div>
                </form>
            </dialog>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script th:inline="javascript">
        $(document).ready(function () {

            function scrollToBottom() {
                var msgArea = document.getElementById("msg-area");
                msgArea.scrollTop = msgArea.scrollHeight;
            }

            scrollToBottom();

            var sockJs = new SockJS("/ws/chat");
            var stomp = Stomp.over(sockJs);

            var roomId = [[${room.id}]];
            var username = [[${@rq.member.username}]];

            stomp.connect({}, function () {
                stomp.subscribe("/sub/chat/room/" + roomId, function (message) {
                    var content = JSON.parse(message.body);
                    var writer = content.writer;

                    var msg = document.createElement("div");
                    var currentTime = new Date().toLocaleTimeString([], {
                        hour: '2-digit',
                        minute: '2-digit',
                        hour12: false
                    });

                    msg.className = writer === username ? "chat chat-end flex flex-row justify-end" :
                        "chat chat-start flex flex-row justify-start";
                    msg.innerHTML = writer === username ?
                        "<div class='chat-header'>" +
                        "<time class='text-xs opacity-50'>" + currentTime + "</time>" + "</div>" +
                        "<div class='chat-bubble'>" + content.message + "</div>" +
                        "<div class='chat-image avatar'><div class='w-10 rounded-full bg-pink-400'></div></div>" :
                        "<div class='chat-image avatar'><div class='w-10 rounded-full bg-pink-400'></div></div>" +
                        "</div>" + "<div class='chat-bubble'>" + content.message + "</div>" +
                        "<div class='chat-header mt-6'>" + "<time class='text-xs opacity-50'>" + currentTime + "</time>";

                    if (content.fileMessage && writer !== username) {
                        var downloadLink = document.createElement("a");
                        downloadLink.href = "/chat/download/" + content.id;
                        downloadLink.target = "_blank";
                        downloadLink.className = "btn btn-outline";
                        downloadLink.innerHTML = "<i class='fa-solid fa-download'></i>";
                        msg.appendChild(downloadLink);
                    }

                    $("#chat-area").append(msg);
                    scrollToBottom();
                });

                if (msg.value != null) {
                    stomp.send('/pub/chat/message', {}, JSON.stringify({roomId: roomId, writer: username}));
                }
            });

            $("#send-msg").on("keydown", function (event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    document.getElementById("send-button").click();
                }
            });

            $("#send-button").on("click", function (event) {
                var msg = document.getElementById("send-msg");
                var csrfToken = $("meta[name='_csrf']").attr("content");
                var csrfHeader = $("meta[name='_csrf_header']").attr("content");
                var headers = {};
                headers[csrfHeader] = csrfToken;

                if (msg.value != '') {
                    stomp.send('/pub/chat/message', {}, JSON.stringify({
                        roomId: roomId,
                        message: msg.value,
                        writer: username
                    }));
                }
                msg.value = '';
                scrollToBottom();
            });

            $("#file-send").on("click", function (event) {
                var form = document.querySelector(".modal form");
                var formData = new FormData(form);

                var csrfToken = $("input[name='_csrf']").val();
                formData.append("_csrf", csrfToken);

                $.ajax({
                    url: form.action,
                    type: "POST",
                    enctype: 'multipart/form-data',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        console.log("파일 전송 성공:", data);
                        document.getElementById("send-msg").value = "";
                    },
                    error: function (error) {
                        console.error("파일 전송 실패:", error);
                    }
                });
            });
        });
    </script>
</main>

</body>

</html>
