<html layout:decorate="~{usr/layout/layout.html}">
<head>
  <title>거래 후기</title>
</head>

<body>
<header layout:fragment="header">
  <div class="navbar max-w-2xl mx-auto bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <a href="#" tabindex="0" class="btn btn-ghost btn-circle" onclick="history.back()">
          <i class="fa-solid fa-angle-left"></i>
        </a>
      </div>
    </div>
    <div class="navbar-center">
      <a class="font-black" th:text="|${reviewData.get('profileMember').nickname}님의 받은 후기|"></a>
    </div>
    <div class="navbar-end">
      <button class="btn btn-ghost btn-circle hidden">
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </button>
    </div>
  </div>
</header>

<main layout:fragment="main">
    <div th:each="review : ${reviewData.get('reviews')}" class="max-w-md mt-3 mx-auto py-6 space-y-4 bg-white rounded-lg overflow-hidden shadow">
        <div class="px-4 py-3 ">
            <div class="flex items-center justify-between space-x-4">
                <div class="flex items-center space-x-4">
                    <div class="flex-shrink-0">
                        <i class="fa-solid fa-user fa-xl bg-gray-200 rounded-full w-10 h-10 flex items-center justify-center"></i>
                    </div>
                    <div>
                        <div class="flex-1 font-bold text-gray-700" th:text="${review.writer.nickname}">작성자 이름</div>
                        <div class="py-3">
                            <div class="text-gray-700" th:text="${review.content}">남긴 후기 내용</div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col items-end">
                    <div class="text-gray-400 text-sm" th:text="${#temporals.format(review.createdAt, 'MM-dd HH:mm')}">작성 날짜</div>
                    <div class="rating rating-sm">
                        <input type="radio" name="rating-6" class="mask mask-star-2 bg-orange-400" disabled th:checked="${review.rating == 1.0}"/>
                        <input type="radio" name="rating-6" class="mask mask-star-2 bg-orange-400" disabled th:checked="${review.rating == 2.0}"/>
                        <input type="radio" name="rating-6" class="mask mask-star-2 bg-orange-400" disabled th:checked="${review.rating == 3.0}"/>
                        <input type="radio" name="rating-6" class="mask mask-star-2 bg-orange-400" disabled th:checked="${review.rating == 4.0}"/>
                        <input type="radio" name="rating-6" class="mask mask-star-2 bg-orange-400" disabled th:checked="${review.rating == 5.0}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main>


</body>

</html>