<html layout:decorate="~{usr/layout/layout.html}">
<head>
    <title>거래 현황</title>
</head>

<body>
<header layout:fragment="header">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
                <a href="#" tabindex="0" class="btn btn-ghost btn-circle" onclick="history.back()">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
            </div>
        </div>
        <div class="navbar-center">
            <a class="font-black">거래 현황</a>
        </div>
        <div class="navbar-end">

        </div>
    </div>
</header>

<main layout:fragment="main">
    <nav class="flex justify-center">
        <div class="grid grid-cols-4 gap-x-4 justify-items-center">
            <button  id ="BEFORE">거래 전</button>
            <button id="INPROGRESS">거래 중</button>
            <button id="COMPLETE">거래 완료</button>
            <button id="CANCELED">거래 취소</button>
        </div>
    </nav>

    <div id="trade-list-container"></div>

    <script th:inline="javascript">
        async function fetchData(status) {
            const apiUrl = `/trade/list/select?status=${status}`;
            try {
                const response = await fetch(apiUrl);
                const json = await response.json();
                const tradeStatusList = json.tradeStatusList;
                const statusMsg = json.statusMsg;

                const tradeListElement = document.getElementById('trade-list-container');
                tradeListElement.innerHTML = '';

                tradeStatusList.forEach(tradeStatus => {
                    const tradeStatusElement = createTradeStatusElement(tradeStatus, statusMsg);
                    tradeListElement.appendChild(tradeStatusElement);
                });

            } catch (error) {
                console.error(error);
            }
        }

        fetchData();

        function createTradeStatusElement(tradeStatus, statusMsg) {
            let tradeStatusElement = document.createElement("div");
            tradeStatusElement.className = "bg-white rounded-lg overflow-hidden shadow";


            let myNickname = [[${@rq.getMember().nickname}]];
            let opponentNickname = '';
            let boardTitle = tradeStatus.board.title;
            let boardId = tradeStatus.board.id;

            //12글자 넘으면 12글자까지 포함하고 ... 으로 표현
            boardTitle = (boardTitle.length > 12) ? boardTitle.substring(0, 12) + "..." : boardTitle;


            if (myNickname !== tradeStatus.requester.nickname) {
                opponentNickname = tradeStatus.requester.nickname;
            } else {
                opponentNickname = tradeStatus.helper.nickname;
            }
            let reviewElement;
            console.log(tradeStatus.reviewCheck);
            if (!tradeStatus.reviewCheck) {
                reviewElement = `
                <div class="flex justify-center">
                    <a id="reviewBtn" class="btn btn-error text-white btn-wide" ${tradeStatus.status !== 'COMPLETE' ? 'disabled' : ''}>거래 후기 작성</a>
                </div>`;
            }

            let template = `
                <div class="px-4 py-3 border-b border-gray-200">

                    <div class="flex items-center justify-around">
                        <div class="flex">
                            <i class="fa-solid fa-user fa-xl bg-gray-200 rounded-full w-10 h-10 flex items-center justify-center"></i>
                            <div class="flex items-center text-gray-400 text-sm pl-2">${opponentNickname}</div>
                        </div>
                        <div class="text-gray-400 text-sm">${tradeStatus.createdAt ? new Date(tradeStatus.createdAt).toLocaleDateString() : ''}</div>
                    </div>

                    <div class="mt-3 flex justify-between items-center">
                        <div class="flex-grow flex items-center justify-between px-12">
                            <div class="font-bold text-gray-700">${boardTitle}</div>
                            <button class="btn btn-circle" onclick="location.href='/board/${boardId}'">게시글 이동</button>
                        </div>
                    </div>
                    ${reviewElement}
                </div>
            `;

            tradeStatusElement.innerHTML = template;

            let reviewBtn = tradeStatusElement.querySelector("#reviewBtn");
            reviewBtn.href = `/review/create/${tradeStatus.id}`;
            if (tradeStatus.status !== "COMPLETE") {
                reviewBtn.setAttribute("disabled", true);
            }


            return tradeStatusElement;
        }

        function changeActiveButton(buttonId) {
            // 모든 버튼에서 border-gray-300 클래스 추가하고 border-black 클래스 제거
            buttons.forEach(status => {
                const button = document.getElementById(status);
                button.classList.add('border-gray-300');
                button.classList.remove('border-black');
                button.style.borderBottom = "none"; // 변경한 부분
            });

            // 선택된 버튼에서 border-gray-300 클래스 제거하고 border-black 클래스 추가
            const activeButton = document.getElementById(buttonId);
            activeButton.classList.remove('border-gray-300');
            activeButton.classList.add('border-black');
            activeButton.style.borderBottom = "3px solid gray"; // 추가한 부분
        }

        const buttons = ['BEFORE', 'INPROGRESS', 'COMPLETE', 'CANCELED'];

        // 처음 페이지를 로드할 때 기본 데이터 로드
        fetchData('COMPLETE');
        changeActiveButton('COMPLETE');

        // #버튼 이벤트 리스너
        document.addEventListener('DOMContentLoaded', () => {
            buttons.forEach(status => {
                const button = document.getElementById(status);
                button.addEventListener('click', () => {
                    fetchData(status);
                    changeActiveButton(status);
                });
            });
        });
    </script>
</main>

</body>
</html>