<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>게시판 작성</title>
</head>

<body>
<header layout:fragment="header">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
                <a href="#" tabindex="0" class="btn btn-ghost btn-circle">
                    <i class="fa-solid fa-angle-left"></i>
                </a>
            </div>
        </div>
        <div class="navbar-center">
            <a class="font-black">게시글 작성</a>
        </div>
        <div class="navbar-end">
            <button class="btn btn-ghost btn-circle hidden">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
        </div>
    </div>
</header>

<main layout:fragment="main">

    <div class="text-center">
        <form th:action method="POST">
            <div class="mt-10">
                <input class="input input-bordered input-md w-full max-w-xs" type="text" placeholder="제목">
            </div>
            <div class="mt-10">
                <label class="btn bg-main btn-active">
                    <input class="sr-only" type="radio" name="boardType" value="option1"> 나급해요
                </label>
                <label class="btn bg-main btn-active">
                    <input class="sr-only" type="radio" name="boardType" value="option2"> 나급해요
                </label>
            </div>

            <div class="w-full mt-10 h-20">
                <textarea class="textarea textarea-bordered textarea-lg w-full max-w-xs" name="content" maxlength="30" placeholder="내용"></textarea>
            </div>
            <div class="mt-10 mx-auto w-1/2 text-center">
                <input type="text" class="input input-bordered form-control" id="address_kakao" name="address"
                       placeholder="주소(지번 또는 도로명)를 입력하세요. ex) 서울특별시 성북구 종암로 10길" readonly>
            </div>

            <div class="mt-5">
                <input type="submit" value="작성" class="btn">
            </div>
        </form>
    </div>
</main>

</body>

</html>