<html layout:decorate="~{usr/layout/layout.html}">

<head>
  <title>지역 선택</title>
</head>

<body>
<header layout:fragment="header" class="sticky top-0 z-50">

  <div class="navbar max-w-2xl mx-auto bg-base-100">
    <div class="navbar-start">
      <div>
        <a href="#" tabindex="0" class="btn btn-ghost btn-circle">
          <i class="fa-solid fa-angle-left"></i>
        </a>
      </div>
    </div>
    <div class="navbar-center">
      <a class="font-black">동네 선택</a>
    </div>
    <div class="navbar-end">
      <button class="btn btn-ghost btn-circle">
        <i class="fa-solid fa-ellipsis-vertical"></i>
      </button>
    </div>
  </div>

</header>

<main layout:fragment="main" class="flex-grow flex items-center justify-center">
  <label for="searchInput">검색</label>
  <input type="text" id="searchInput" placeholder="읍/면/동을 입력해주세요.">
  <ul id="searchResults"></ul>

  <script th:inline="javascript">
    /*<![CDATA[*/
    const allRegions = /*[[${regions}]]*/ [];
    /*]]>*/

    function filterRegions(searchText) {
      return allRegions.filter(region =>
              region.depth3.toLowerCase().includes(searchText.toLowerCase())
      );
    }

    $(document).ready(function() {
      const $searchInput = $('#searchInput');
      const $searchResults = $('#searchResults');

      $searchInput.on('input', function() {
        const searchText = $searchInput.val();

        if (searchText) {
          const filteredRegions = filterRegions(searchText);
          $searchResults.empty();
          filteredRegions.forEach(function(region) {
            const li = $('<li></li>').text(
                    `${region.depth1} ${region.depth2} ${region.depth3}`
            );
            $searchResults.append(li);
          });
        } else {
          $searchResults.empty();
        }
      });
    });
  </script>
</main>

</body>

</html>