<html layout:decorate="~{usr/layout/layout.html}">
<head>
    <title>알림 목록</title>
</head>

<body>
    <header layout:fragment="header">
        <div class="navbar max-w-2xl mx-auto bg-base-100">
            <div class="navbar-start">
                <div class="dropdown">
                    <a href="#" tabindex="0" class="btn btn-ghost btn-circle" onclick="history.back()">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </div>
            </div>
            <div class="navbar-center">
                <a class="font-black">알림 목록</a>
            </div>
            <div class="navbar-end">
                <button class="btn btn-ghost btn-circle hidden">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
            </div>
        </div>
    </header>

<main layout:fragment="main">
    <div class="text-center" style="overflow-y: auto;">
        <ul class="w-full max-w-lg mx-auto p-4 mb-4 bg-base-100 shadow-md rounded-lg" th:each="notification : ${notificationList}">
            <li class="flex items-center border-b border-base-200 py-3">
                <div class="alert"
                     th:classappend="${notification.type.name() == 'START'} ? 'alert-info' : (${notification.type.name() == 'END'} ? 'alert-success' : 'alert-error')"
                     style="flex-direction: row">
                    <i th:class="${notification.type.name() == 'START'} ? 'fa-brands fa-rocketchat' : (${notification.type.name() == 'END'} ? 'fa-regular fa-thumbs-up' : 'fa-solid fa-ban')"></i>
                    <div class="flex-grow flex flex-col">
                        <p class="text-m text-white self-start" th:text="${notification.message}"></p>
                        <span class="text-xs text-white mt-auto ml-auto" th:text="${#temporals.format(notification.createdAt, 'MM-dd HH:mm')}"></span>
                    </div>
                </div>
            </li>
            <!-- 알림의 추가 항목을 계속하여 추가하세요 -->
        </ul>
    </div>
</main>




</body>

</html>