<html layout:decorate="~{usr/layout/layout.html}">
<head>
    <title>알림 목록</title>
</head>

<body>
    <header layout:fragment="header">
        <div class="navbar max-w-2xl mx-auto bg-base-100">
            <div class="navbar-start">
                <div class="dropdown">
                    <a href="#" tabindex="0" class="btn btn-ghost btn-circle" onclick="history.back()">
                        <i class="fa-solid fa-angle-left"></i>
                    </a>
                </div>
            </div>
            <div class="navbar-center">
                <a class="font-black">알림 목록</a>
            </div>
            <div class="navbar-end">
                <button class="btn btn-ghost btn-circle hidden">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>
            </div>
        </div>
    </header>

<main layout:fragment="main">
    <div class="text-center" style="overflow-y: auto;">
        <ul class="w-full max-w-lg mx-auto p-4 mb-4 bg-base-100 shadow-md rounded-lg" th:each="notification : ${notificationList}">
            <li class="flex items-center">
                <div class="alert"
                     th:classappend="${notification.type.name() == 'START'} ? 'alert-info' : (${notification.type.name() == 'END'} ? 'alert-success' : 'alert-error')"
                     style="flex-direction: row; position: relative;">
                    <form class="delete-notification-form" th:action="@{/notification/delete/{id}(id=${notification.id})}" th:method="DELETE">
                        <div class="flex items-center" style="position: absolute; top: 0; right: 0;">
                            <button class="bg-transparent text-white text-xs ml-2"
                                    style="height: 1.5rem; width: 2rem;">
                                <i class="fas fa-times fa-xl"></i>
                            </button>
                        </div>
                    </form>
                    <div class="flex-grow flex flex-col justify-between">
                        <p class="text-lg text-white self-start mt-1" th:text="${notification.message}"></p>
                    </div>
                    <span class="text-xs text-white justify-self-end" th:text="${#temporals.format(notification.createdAt, 'MM-dd HH:mm')}"></span>
                </div>
            </li>
        </ul>
    </div>
</main>

</body>

</html>