<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>메인 페이지</title>
</head>

<body>
<header layout:fragment="header">

    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <ul tabindex="0"
                    class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-64">
                    <li>
                        <a th:href="@{/}">
                            <span>메인</span>
                        </a>
                    </li>
                    <li th:if="${@rq.isAdmin()}">
                        <a th:href="@{|/adm/list|}">
                            <span>환전 신청 목록</span>
                        </a>
                    </li>
                    <li th:if="${@rq.logout}">
                        <a th:href="@{|/usr/member/login|}">
                            <span>로그인</span>
                        </a>
                    </li>
                    <li th:if="${@rq.login}">
                        <a href="javascript:" onclick="$(this).next().submit();">
                            <span>로그아웃</span>
                        </a>
                        <form class="!hidden" hidden th:action="|/usr/member/logout|" method="POST"></form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-center">
            <a class="font-black">메인</a>
        </div>
        <div class="navbar-end">
            <button class="btn btn-ghost btn-circle">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
        </div>
    </div>

</header>

<main layout:fragment="main">
    <div class="body bg-white dark:bg-[#0F172A]">
        <div class="bg-black before:animate-pulse before:bg-gradient-to-b before:from-gray-900 overflow-hidden before:via-[#FF626F] before:to-gray-900 before:absolute ">
            <div id="myDIV">
                <div class="w-[100vw] h-[100vh] flex items-center justify-center absolute ">
                    <div class="w-[100vw] h-[100vh] px-3 sm:px-5 flex items-center justify-center absolute">
                        <div class="w-full -mt-16 sm:w-1/2 lg:2/3 px-6 bg-gray-500 bg-opacity-20 bg-clip-padding backdrop-filter backdrop-blur-sm text-white z-50 py-4  rounded-lg">
                            <a href="/board/selectRegion" class="group flex items-center bg-transparent p-2 px-6 text-xl font-thin tracking-widest text-white btn btn-outline">
                                <span class="relative pr-4 pb-1 text-white after:transition-transform after:duration-500 after:ease-out after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-blue-500 after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100">
                                    <i class="fa-solid fa-door-open"></i>
                                    오프라인 게시판 입장</span>
                                <svg viewBox="0 0 46 16" height="10" width="30" xmlns="http://www.w3.org/2000/svg"
                                     id="arrow-horizontal"
                                     class="-translate-x-2 fill-slate-700 transition-all duration-300 ease-out group-hover:translate-x-1 group-hover:scale-x-105 group-hover:fill-white">
                                    <path transform="translate(30)"
                                          d="M8,0,6.545,1.455l5.506,5.506H-30V9.039H12.052L6.545,14.545,8,16l8-8Z"
                                          data-name="Path 10" id="Path_10"></path>
                                </svg>
                            </a>

                            <div class="my-3 flex items-center px-3">
                                <hr class="w-full border-slate-600"/>
                                <span class="mx-3 text-slate-500">or</span>
                                <hr class="w-full border-slate-600"/>
                            </div>
                            <span class=" inline-flex items-center rounded-full p-2 bg-indigo-500 text-white group transition-all duration-500 focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 focus:outline-none"
                                  role="alert" tabindex="0">
                                <svg aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 20 20" fill="currentColor"
                                     class="w-6 h-6">
                                    <path fill-rule="evenodd"
                                          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a.75.75 0 000 1.5h.253a.25.25 0 01.244.304l-.459 2.066A1.75 1.75 0 0010.747 15H11a.75.75 0 000-1.5h-.253a.25.25 0 01-.244-.304l.459-2.066A1.75 1.75 0 009.253 9H9z"
                                          clip-rule="evenodd"/>
                                </svg>
                                <span class="whitespace-nowrap inline-block group-hover:max-w-screen-2xl group-focus:max-w-screen-2xl max-w-0 scale-80 group-hover:scale-100 overflow-hidden transition-all duration-500 group-hover:px-2 group-focus:px-2">온라인으로 해결해 줄 수 있는 게시글만 검색 가능합니다!</span>
                            </span>
                            <span class="text-xl font-thin ml-3">온라인 게시글 검색</span>
                            <form th:action="@{/board/online}" method="get" class="mt-4"
                                  onsubmit="SearchForm__submit(this); return false;">
                                <label for="default-search"
                                       class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-gray-300">Search</label>
                                <div class="relative">
                                    <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                                        <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                                             stroke="currentColor" viewBox="0 0 24 24"
                                             xmlns="http://www.w3.org/2000/svg">
                                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                        </svg>
                                    </div>
                                    <input type="search" id="default-search" name="title"
                                           class="block p-4 pl-10 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                           placeholder="제목 / 내용을 검색하세요." required>
                                    <button type="submit"
                                            class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                        Search
                                    </button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script th:inline="javascript">
        const para = document.createElement("div");
        para.className = 'flex flex-wrap gap-0.5 h-screen items-center justify-center  relative';
        let el = '<div class = "  transition-colors duration-[1.5s] hover:duration-[0s] border-[#00FF00] h-[calc(5vw-2px)] w-[calc(5vw-2px)] md:h-[calc(4vw-2px)] md:w-[calc(4vw-2px)] lg:h-[calc(3vw-4px)] lg:w-[calc(3vw-4px)] bg-gray-900 hover:bg-[#FF626F]"></div>'
        for (var k = 1; k <= 1000; k++) {
            el += '<div class = " transition-colors duration-[1.5s] hover:duration-[0s] border-[#00FF00] h-[calc(5vw-2px)] w-[calc(5vw-2px)] md:h-[calc(4vw-2px)] md:w-[calc(4vw-2px)] lg:h-[calc(3vw-4px)] lg:w-[calc(3vw-4px)] bg-gray-900 hover:bg-[#FF626F]"></div>';
        }
        ;

        para.innerHTML = el;
        document.getElementById("myDIV").appendChild(para);

        function SearchForm__submit(form) {

            form.title.value = form.title.value.trim();

            if (form.title.value.length === 0) {
                toastWarning('검색어를 입력해주세요.');
                form.title.focus();
                return;
            }

            if (form.title.value.length < 2) {
                toastWarning('검색어는 2글자 이상 입력해주세요.');
                form.title.focus();
                return;
            }

            form.submit();
        }

    </script>


</main>

</body>

</html>