<html layout:decorate="~{common/layout.html}">

<body>



<footer layout:fragment="footer">

    <div class="btm-nav max-w-2xl mx-auto">
        <a href="#">
            <i class="fa-solid fa-list"></i>
        </a>
        <a th:if="${!@rq.login}" href="/usr/member/login">
            <i class="fa-solid fa-right-to-bracket"></i>
        </a>
        <a href="#">
            <i class="fa-regular fa-comment"></i>
        </a>
        <a href="#">
            <i class="fa-regular fa-bell"></i>
        </a>
        <a href="#">
            <i class="fa-regular fa-user"></i>
        </a>
    </div>

</footer>
</body>

</html>