@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

html {
    max-width: 390px;
    max-height: 844px;
}

html > body {
    background-color: #FFFFFF;
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100vh;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btm-nav {
    box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.3);
}

.text-main {
    color: #FF626F;
}

.bg-main {
    background-color: #FF626F;
}

.border-main {
    border: 2px solid #FF626F;
}