<html layout:decorate="~{usr/layout/layout.html}">

<head>
    <title>로그인 페이지</title>
</head>

<body>
<header layout:fragment="header">
    <div class="navbar max-w-2xl mx-auto bg-base-100">
        <div class="navbar-start">
            <div class="dropdown">
                <label tabindex="0" class="btn btn-ghost btn-circle">
                    <i class="fa-solid fa-bars"></i>
                </label>
                <ul tabindex="0"
                    class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-64">
                    <li>
                        <a th:href="@{/}">
                            <span>메인</span>
                        </a>
                    </li>
                    <li th:if="${@rq.logout}">
                        <a href="/usr/member/login">
                            <span>로그인</span>
                        </a>
                    </li>
                    <li th:if="${@rq.login}">
                        <a href="javascript:" onclick="$(this).next().submit();">
                            <span>로그아웃</span>
                        </a>
                        <form class="!hidden" hidden th:action="|/usr/member/logout|" method="POST"></form>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navbar-center">
            <a class="font-black">로그인 페이지</a>
        </div>
        <div class="navbar-end">
            <button class="btn btn-ghost btn-circle">
                <i class="fa-solid fa-ellipsis-vertical"></i>
            </button>
        </div>
    </div>
</header>

<main layout:fragment="main">
    <div class="body bg-white dark:bg-[#0F172A]">
        <div class="bg-black before:animate-pulse before:bg-gradient-to-b before:from-gray-900 overflow-hidden before:via-[#FF626F] before:to-gray-900 before:absolute ">
            <div id="myDIV">
                <div class="w-[100vw] h-[100vh] px-3 sm:px-5 flex items-center justify-center absolute">
                    <div class="w-full sm:w-1/2 lg:2/3 px-6 bg-gray-500 bg-opacity-20 bg-clip-padding backdrop-filter backdrop-blur-sm text-white z-50 py-4  rounded-lg">
                        <div class="w-full flex justify-center text-[#FF626F] text-xl mb:2 md:mb-5">
                            로그인
                        </div>
                        <div class="mb-6">
                            <label for="id" class="block mb-2 text-xs font-medium text-white">아이디</label>
                            <input type="text" id="id"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 md:p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   required>
                        </div>
                        <div class="mb-6">
                            <label for="password" class="block mb-2 text-xs font-medium text-white">비밀번호</label>
                            <input type="password" id="password"
                                   class="bg-gray-50 border border-gray-300 text-gray-900 text-xs rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-1.5 md:p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                   required>
                        </div>
                        <div class="flex flex-row justify-between">
                            <div class="text-white text-sm md:text-md ">아이디가 없으신가요?</div>
                            <div class="text-[#FF626F] text-sm md:text-md">회원가입</div>
                        </div>
                        <div class="mt-4 md:mt-10 w-full flex justify-center text-sm md:text-xl bg-[#FF626F] py-2 rounded-md">
                            로그인
                        </div>
                        <div class="text-center mt-2">

                            <div th:if="${@rq.logout}">
                                <!-- 로그인하지 않은 경우, 로그인 버튼을 보여줌 -->
                                <a href="/oauth2/authorization/kakao" class="btn w-full gap-1">
                                    <i class="fa-solid fa-comment text-[color:#ffe812]"></i>
                                    <span class="normal-case">카카오 로그인</span>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        const para = document.createElement("div");
        para.className = 'flex flex-wrap gap-0.5 h-screen items-center justify-center  relative';
        let el = '<div class = "  transition-colors duration-[1.5s] hover:duration-[0s] border-[#00FF00] h-[calc(5vw-2px)] w-[calc(5vw-2px)] md:h-[calc(4vw-2px)] md:w-[calc(4vw-2px)] lg:h-[calc(3vw-4px)] lg:w-[calc(3vw-4px)] bg-gray-900 hover:bg-[#FF626F]"></div>'
        for (var k = 1; k <= 1000; k++) {
            el += '<div class = " transition-colors duration-[1.5s] hover:duration-[0s] border-[#00FF00] h-[calc(5vw-2px)] w-[calc(5vw-2px)] md:h-[calc(4vw-2px)] md:w-[calc(4vw-2px)] lg:h-[calc(3vw-4px)] lg:w-[calc(3vw-4px)] bg-gray-900 hover:bg-[#FF626F]"></div>';
        }
        ;

        para.innerHTML = el;
        document.getElementById("myDIV").appendChild(para);
    </script>


</main>

</body>
</html>