<!DOCTYPE html>
<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body class="w-screen">

  <header layout:fragment="header" >
    <div class="navbar max-w-2xl mx-auto  bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost btn-circle">
            <i class="fa-solid fa-bars"></i>
          </label>
          <ul tabindex="0"
              class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-64">
            <li>
              <a th:href="@{/}">
                <span>메인</span>
              </a>
            </li>
            <li th:if="${@rq.logout}">
              <a href="/usr/member/login">
                <span>로그인</span>
              </a>
            </li>
            <li th:if="${@rq.login}">
              <a href="javascript:" onclick="$(this).next().submit();">
                <span>로그아웃</span>
              </a>
              <form class="!hidden" hidden th:action="|/usr/member/logout|" method="POST"></form>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-center">
        <a class="font-black">휴대폰 인증</a>
      </div>
      <div class="navbar-end">
        <button class="btn btn-ghost btn-circle">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
      </div>
    </div>
  </header>

  <main layout:fragment="main">
    <div class="flex-grow flex justify-center items-center align-center">
      <div class="card  compact w-full max-w-md py-8 px-6">
        <h2 class="text-3xl font-semibold text-center">휴대폰 인증</h2>

        <div class="form-control mt-8">
          <label class="label" for="phoneNumber">
            <span class="label-text">전화번호</span>
          </label>
          <div class="input-group">
            <input type="tel" id="phoneNumber" name="phoneNumber" placeholder="'-' 를 제외한 전화번호를 입력해주세요" class="input input-bordered w-full">
            <button id="phoneAuthButton" class="btn btn-neutral">전송</button>
          </div>
        </div>

        <div class="form-control mt-4">
          <label class="label" for="checkNumber">
            <span class="label-text">인증번호</span>
          </label>
          <div class="input-group">
            <input type="text" id="checkNumber" name="checkNumber" placeholder="인증번호를 입력해주세요." class="input input-bordered w-full">
            <button class="btn btn-active btn-neutral" id="checkAuthCode">인증</button>
          </div>
        </div>

        <div class="form-control mt-4">
          <label class="label">
            <span class="label-text">Remaining Time</span>
          </label>
          <div class="input-group">
            <span id="timerDisplay" class="input input-bordered w-full">03:00</span>
          </div>
        </div>

        <button class="btn btn- mt-6" id="certBtn">인증완료</button>
      </div>
    </div>

    <script>
      $(document).ready(function() {
        //CSRF
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");


        //타이머
        var interval = null;

        $(document).ajaxSend(function(e, xhr, options) {
          xhr.setRequestHeader(header, token);
        });

        //인증번호 전송
        $('#phoneAuthButton').click( function(e) {
          e.preventDefault();
          var phoneNumber = $("#phoneNumber").val();

          // 입력된 전화번호가 비어 있거나 형식에 맞지 않는 경우
          var phoneRegEx = /^01([0|1|6|7|8|9]?)-?([0-9]{3,4})-?([0-9]{4})$/; // 수정: 전화번호 형식 정규 표현식
          if (!phoneNumber || !phoneRegEx.test(phoneNumber)) {
            alert('유효한 전화번호를 입력하세요.');
            return; // 중요: 유효하지 않은 전화번호를 입력한 경우 요청을 중단합니다.
          }

          $.ajax({
            url: '/usr/member/phoneAuth/send',
            type: 'POST',
            data: {
              phoneNumber: phoneNumber
            },
            headers: {
              'Accept': 'application/json'  // Accept 헤더 설정
            },
            success: function(data) {
              // 요청이 성공적으로 완료되면 이곳에 코드를 작성합니다.
              var timeLeft = 180; // 초 단위

              // 타이머를 표시할 요소를 선택
              var displayElement = document.getElementById("timerDisplay");

              // 이전 타이머가 있다면 종료
              if (interval) {
                clearInterval(interval);
              }

              // 타이머 시작 (1초마다 타이머 업데이트)
              interval = setInterval(function () {
                timeLeft--;

                var minutes = Math.floor(timeLeft / 60);
                var seconds = timeLeft % 60;

                // 타이머 값을 업데이트
                displayElement.textContent =
                        (minutes < 10 ? "0" : "") +
                        minutes +
                        ":" +
                        (seconds < 10 ? "0" : "") +
                        seconds;
                // 시간이 끝났으면 타이머 중지
                if (timeLeft <= 0) {
                  clearInterval(interval);
                  alert("인증시간이 지났습니다. 인증번호를 다시 받아주세요.");
                }
              }, 1000); // 1초에 한 번씩 실행

              alert("인증번호가 발송되었습니다.");
            },
            error: function(jqXHR, textStatus, errorThrown) {
              // 요청이 실패하면 이곳에 코드를 작성합니다.
              var errorResponse = jqXHR.responseJSON;  // JSON 데이터로 파싱된 응답
              var errorMessage = errorResponse.message;  // 실패 메시지
              if(errorMessage === "전화번호 중복"){
                alert("이미 사용중인 전화번호 입니다. 다른 번호로 요청해주세요.");
              }else{
                alert('핸드폰 인증에 실패하였습니다. 다시 시도해 주세요.');
              }
            }
          });
        });

        //인증번호 검증
        $("#checkAuthCode").click(function () {
          var phoneNumber = $("#phoneNumber").val();
          var checkNumber = $("#checkNumber").val();

          $.ajax({
            url: '/usr/member/phoneAuth/check',
            type: 'POST',
            data: {
              phoneNumber: phoneNumber,
              authCode: checkNumber
            },
            headers: {
              'Accept': 'application/json'  // Accept 헤더 설정
            },
            success: function (response) {
              clearInterval(interval); //타이머 중지
              alert(response.message);
            },
            error: function (jqXHR, textStatus, errorThrown) {
              // 서버가 반환한 데이터를 확인합니다.
              var errorResponse = jqXHR.responseJSON;  // JSON 데이터로 파싱된 응답
              var errorMessage = errorResponse.message;  // 실패 메시지

              alert(errorMessage);  // 출력: 실패 메시지
            }
          });
        });

        $("#certBtn").click(function(e) {
          var phoneNumber = $("#phoneNumber").val();

          $.ajax({
            url: '/usr/member/phoneAuth',
            type: 'POST',
            data: {
              phoneNumber: phoneNumber
            },
            headers: {
              'Accept': 'application/json'  // Accept 헤더 설정
            },
            success: function (response) {
              if(response.message === "전화번호 인증이 완료되었습니다.") {
                alert(response.message);
                window.location.href = "/";
              }
            },
            error: function (jqXHR, textStatus, errorThrown) {
              // 서버가 반환한 데이터를 확인합니다.
              var errorResponse = jqXHR.responseJSON;  // JSON 데이터로 파싱된 응답
              var errorMessage = errorResponse.message;  // 실패 메시지
              alert(errorMessage);  // 출력: 실패 메시지
              console.log(errorMessage);

            }
          });
        });

      });
    </script>
  </main>
</body>



</html>