<!DOCTYPE html>
<html layout:decorate="~{usr/layout/layout.html}" xmlns:layout="http://www.w3.org/1999/xhtml">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body class="w-screen">

  <header layout:fragment="header" >
    <div class="navbar max-w-2xl mx-auto  bg-base-100">
      <div class="navbar-start">
        <div class="dropdown">
          <label tabindex="0" class="btn btn-ghost btn-circle">
            <i class="fa-solid fa-bars"></i>
          </label>
          <ul tabindex="0"
              class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-64">
            <li>
              <a th:href="@{/}">
                <span>메인</span>
              </a>
            </li>
            <li th:if="${@rq.logout}">
              <a href="/usr/member/login">
                <span>로그인</span>
              </a>
            </li>
            <li th:if="${@rq.login}">
              <a href="javascript:" onclick="$(this).next().submit();">
                <span>로그아웃</span>
              </a>
              <form class="!hidden" hidden th:action="|/usr/member/logout|" method="POST"></form>
            </li>
          </ul>
        </div>
      </div>
      <div class="navbar-center">
        <a class="font-black">휴대폰 인증</a>
      </div>
      <div class="navbar-end">
        <button class="btn btn-ghost btn-circle">
          <i class="fa-solid fa-ellipsis-vertical"></i>
        </button>
      </div>
    </div>
  </header>

  <main layout:fragment="main">
    <div class="flex-grow flex justify-center align-center">
      <form id="profileUpdateForm" class="flex flex-col">
        <div class="input-group mt-3">
          <label for="phoneNumber">전화번호</label>
          <input type="tel" id="phoneNumber" name="phoneNumber" value="" class="mx-1"placeholder="전화번호를 입력해주세요." />
          <button type="button" id="phoneAuthButton">인증번호 전송</button>
        </div>
        <div class="input-group mt-3">
          <label for="checkNumber">인증번호</label>
          <input type="tel" id="checkNumber" name="checkNumber" value="" class="mx-1"placeholder="인증번호를 입력해주세요." />
          <button type="button" id="checkAuthCode">인증번호 확인</button>
        </div>
        <div id="timerDisplay" class="flex-center">03:00</div>
        <button type="button" class="mt-3" id="certBtn" value="인증완료">인증완료</button>
      </form>
    </div>

    <script>
      $(document).ready(function() {
        //CSRF
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");

        console.log("여기 찍히나요??");

        //타이머
        var interval = null;

        $(document).ajaxSend(function(e, xhr, options) {
          xhr.setRequestHeader(header, token);
        });

        //인증번호 전송
        $('#phoneAuthButton').click( function(e) {
          e.preventDefault();
          console.log("여기 ㅁㄴㅇㄹㅁㄴ??");
          var phoneNumber = $("#phoneNumber").val();

          $.ajax({
            url: '/usr/member/phoneAuth/send',
            type: 'POST',
            data: {
              phoneNumber: phoneNumber
            },
            success: function(data) {
              // 요청이 성공적으로 완료되면 이곳에 코드를 작성합니다.
              alert("인증번호가 발송되었습니다.");
              var timeLeft = 180; // 초 단위

              // 타이머를 표시할 요소를 선택
              var displayElement = document.getElementById("timerDisplay");

              // 이전 타이머가 있다면 종료
              if (interval) {
                clearInterval(interval);
              }

              // 타이머 시작 (1초마다 타이머 업데이트)
              interval = setInterval(function () {
                timeLeft--;

                var minutes = Math.floor(timeLeft / 60);
                var seconds = timeLeft % 60;

                // 타이머 값을 업데이트
                displayElement.textContent =
                        (minutes < 10 ? "0" : "") +
                        minutes +
                        ":" +
                        (seconds < 10 ? "0" : "") +
                        seconds;
                // 시간이 끝났으면 타이머 중지
                if (timeLeft <= 0) {
                  clearInterval(interval);
                  alert("인증시간이 지났습니다. 인증번호를 다시 받아주세요.");
                }
              }, 1000); // 1초에 한 번씩 실행
            },
            error: function(jqXHR, textStatus, errorThrown) {
              // 요청이 실패하면 이곳에 코드를 작성합니다.
              alert('핸드폰 인증에 실패하였습니다. 다시 시도해 주세요.');
            }
          });
        });

        //인증번호 검증
        $("#checkAuthCode").click(function () {
          var phoneNumber = $("#phoneNumber").val();
          var checkNumber = $("#checkNumber").val();

          $.ajax({
            url: '/usr/member/phoneAuth/check',
            type: 'POST',
            data: {
              phoneNumber: phoneNumber,
              authCode: checkNumber
            },
            success: function (response) {
              clearInterval(interval); //타이머 중지
              alert(response);
            },
            error: function(jqXHR, textStatus, errorThrown) {
              // 서버가 반환한 데이터를 확인합니다.
              alert(jqXHR.responseText);
            }
          });
        });

        $("#certBtn").click(function(e) {
          var phoneNumber = $("#phoneNumber").val();

          $.ajax({
            url: '/usr/member/phoneAuth',
            type: 'POST',
            data: {
              phoneNumber: phoneNumber
            },
            success: function (response) {
              if(response === "전화번호 인증이 완료되었습니다.")
                window.location.href = "/";
              alert(response);
            },
            error: function(jqXHR, textStatus, errorThrown) {
              // 서버가 반환한 데이터를 확인합니다.
              alert(jqXHR.responseText);
            }
          });
        });

      });
    </script>
  </main>
</body>



</html>