<!DOCTYPE html>
<html data-theme="light" layout:decorate="~{usr/layout/layout.html}" xmlns:th="http://www.thymeleaf.org" xmlns:layout="">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--    <link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.6/dist/full.css" rel="stylesheet" type="text/css" />-->
  <link href="https://cdn.jsdelivr.net/npm/daisyui@3.1.0/dist/full.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://kit.fontawesome.com/87140d707c.js" crossorigin="anonymous"></script>
  <!-- toastr 불러오기 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
  <link rel="stylesheet" href="https://jhs512.github.io/toastr/toastr.css">

  <script src="/resource/common/common.js"></script>
  <link href="/resource/common/common.css" rel="stylesheet">
</head>

<body class="w-screen">

<header layout:fragment="header" >
  <div class="navbar max-w-2xl mx-auto  bg-base-100">
    <div class="navbar-start">
      <div class="dropdown">
        <label tabindex="0" class="btn btn-ghost btn-circle">
          <i class="fa-solid fa-bars"></i>
        </label>
        <ul tabindex="0"
            class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-64">
          <li>
            <a th:href="@{/}">
              <span>메인</span>
            </a>
          </li>
          <li th:if="${@rq.logout}">
            <a href="/usr/member/login">
              <span>로그인</span>
            </a>
          </li>
          <li th:if="${@rq.login}">
            <a href="javascript:" onclick="$(this).next().submit();">
              <span>로그아웃</span>
            </a>
            <form class="!hidden" hidden th:action="|/usr/member/logout|" method="POST"></form>
          </li>
        </ul>
      </div>
    </div>
    <div class="navbar-center">
      <a class="font-black">프로필 수정</a>
    </div>
    <div class="navbar-end">
    </div>
  </div>
</header>

<main layout:fragment="main">
  <div class="bg-white rounded-lg p-8 flex-grow flex flex-col justify-center items-center align-center">
    <h1 class="text-2xl mb-5">프로필 수정</h1>
    <form id="profileForm" class="space-y-6">
      <div class="flex flex-col items-center">
        <label for="profilePictureUpload" class="cursor-pointer">
          <div class="w-24 h-24 rounded-full bg-gray-200 mb-5 flex items-center justify-center overflow-hidden">
            <img th:id="profilePicture" th:if="${profileRequestDto.imagePath == null}" src="#" alt="Your profile picture" class="hidden"/>
            <img th:id="profilePicture" th:if="${profileRequestDto.imagePath != null}" th:src="${profileRequestDto.imagePath == null ? '#' : profileRequestDto.imagePath}"/>
            <span th:if="${profileRequestDto.imagePath == null}" class="text-lg" id="profilePictureIcon">+</span>
          </div>
        </label>
        <input id="profilePictureUpload" type="file" class="hidden" name="profilePictureUpload" accept="image/*" onchange="previewProfilePicture(event)">
      </div>
      <div>
        <label for="nickname" class="text-gray-700">닉네임</label>
        <input id="nickname" type="text" name="nickname" th:value="${profileRequestDto.nickname}"class="mt-1 block w-full rounded-md bg-gray-100 border-transparent focus:border-gray-500 focus:bg-white focus:ring-0">
      </div>
      <button type="submit" class="w-full py-3 px-4 rounded text-white bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2 transition ease-in-out duration-200">
        수정하기
      </button>
    </form>
  </div>

  <script>
    document.getElementById('profileForm').addEventListener('submit', function(event) {
      event.preventDefault();

      var token = $("meta[name='_csrf']").attr("content");
      var header = $("meta[name='_csrf_header']").attr("content");


      $(document).ajaxSend(function(e, xhr, options) {
        xhr.setRequestHeader(header, token);
      });

      // FormData 객체를 생성합니다.
      var formData = new FormData();

      // 닉네임을 FormData에 추가합니다.
      var nickname = $('#nickname').val();
      if (!isValidNickname(nickname)) {
        toastWarning("닉네임은 특수문자를 제외한 4~12자리여야 합니다.");
        return false;
      }
      formData.append('nickname', nickname);

      // 프로필 사진을 FormData에 추가합니다.
      var profilePicture = $('#profilePictureUpload')[0].files[0];
      formData.append('file', profilePicture);

      $.ajax({
        url: '/usr/member/profile_edit',
        type: 'POST',
        data: formData,
        processData: false,  // tell jQuery not to process the data
        contentType: false,  // tell jQuery not to set contentType
        headers: {
          'Accept': 'application/json'  // Accept 헤더 설정
        },
        success: function(response) {
          toastNotice("프로필 업데이트 완료");
          window.location.href= window.location.origin + "/usr/member/profile";
        },
        error: function(jqXHR, textStatus, errorThrown) {
          var responseJSON = jqXHR.responseJSON;
          for (var field in responseJSON) {
            if(field === "nickname")
              toastWarning(responseJSON[field]);
              return;
          }
          toastWarning("An error occurred. Please try again.");
        }
      });
    });

    function previewProfilePicture(event) {
      var reader = new FileReader();
      reader.onload = function() {
        var output = document.getElementById('profilePicture');
        var icon = document.getElementById('profilePictureIcon');
        output.src = reader.result;
        output.classList.remove('hidden');
        icon.classList.add('hidden');
      };
      reader.readAsDataURL(event.target.files[0]);
    }

    function isValidNickname(nickname) {
      // 4~12글자의 영어,한글,숫자를 검사하는 정규 표현식
      var regex = /^[a-zA-Z0-9가-힣-_]{4,12}$/;
      return regex.test(nickname);
    }
  </script>


</main>


</body>

</html>